/* RESET */

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

a:active,
a:hover {
  outline: 0;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }

/* BASE STYLES */

#loader {
  display: block;
  position:fixed;
  z-index: 100;  
  top:50%;  
  left:50%;  
  margin:-90px 0 0 -115px;
  background: #f4421a;
  font-size: 2.7em;
  font-style: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 20px;
}

#swiper {
  background: #ddd;
  width: 100%;
  height: 60px;
  float: top;
  position:absolute;
}

#resize {
  transition: 1s ease-in-out;
  -ms-transform: scale(1,1); /* IE 9 */
  -webkit-transform: scale(1,1); /* Chrome, Safari, Opera */
  transform: scale(1,1);
}

#resize.active {
  transition: 1s ease-in-out;
  -ms-transform: scale(2,2); /* IE 9 */
  -webkit-transform: scale(2,2); /* Chrome, Safari, Opera */
  transform: scale(2,2);
}

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: #ebebeb;
  font: normal 100%/1.4 sans-serif;
  overflow-y: hidden;
}

section {
  float: left;
  width: 100%;
  padding-bottom: 30px;
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
  margin: 15px;
  text-align: center;
}

p {
  margin: 30px;
}

section#home-page {
  float: left;
  margin: 30px;
  width: 90%;
}

section#home-page header h1 {
  padding-top: 50px;
}

section#about-page header h1 {
  padding-top: 50px;
  margin-top: 45px;
}

section#movie-page article section {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 15px;
  width: 80%;
  border: 2px solid gray;
  border-radius: 25px;
}

section#movie-page article section header p {
  text-align: center;
  order: 1;
}

section#movie-page article section figure {
  text-align: center;
  margin-left: -30px;
  order: 2;
}

section#movie-page article section p {
  text-align: left;
  order: 3;
}

section#movie-page article section a {
  color: #37302a;
  padding-left: 30px;
  text-decoration: none;
  font-size: 100%;
  text-transform: uppercase;
  order: 4;
}
section#detail-page article section header h1 {
  padding-top: 50px;
}

section#detail-page article section header a {
  color: #37302a;
  text-decoration: none;
}

section#detail-page article section header p {
  text-align: center;
}

section#detail-page article section figure {
  text-align: center;
}

section#detail-page article section p {
  text-align: left;
}

section#detail-page article section a {
  color: #37302a;
  padding-left: 30px;
  text-decoration: none;
  font-size: 100%;
  text-transform: uppercase;
}

/* NAVIGATION STYLES */

.navigation {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  list-style: none;
}

.nav-item {
  width: 100%;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  background: #f4421a;
  border-bottom: 1px solid white;
  padding: 0.7em 1em;
  float: left;
}

.site-wrap {
  min-height: 100%;
  min-width: 100%;
  background: #ebebeb;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
}

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  position: fixed;
  right: 15px; top: 15px;
  z-index: 2;
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}

.nav-trigger + label, .site-wrap {
  transition: top 0.5s;
}

.nav-trigger:checked + label {
  top: 151px;
}

.nav-trigger:checked ~ .site-wrap {
  top: 136px;
}

/* GENRES */

.filter {
  margin-top: 61px;
  width: 100%;
  display: block;
  height: auto;
}

.filter li {
  width: 50%;
  float: left;
  position: relative;
  list-style-type: none;
}

.filter li:last-child {
  width: 100%;
}

.filter li:nth-of-type(2) {
  width: 50%;
}

.filter li a {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  text-decoration: none;
}

.filter a {
  display: block;
  background-color: #f4421a;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 8px 0;
  color: #fff;
}

/* SECTIONS */

section {
	display: none;
}

section.active, section.active section {
	display: block;
}

section#movie-page header > p {
	font-style: italic;
}

section#movie-page article section {
	margin-bottom: 1em;
	background-color: rgba(235,235,235,1);
}

section#movie-page article section header h1 {
	font-size: 1.5em;
	margin: 0em;
}